/*
-------------------------
RESET | OVERRIDES 
-------------------------
*/

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins*/
body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}

/* Make images easier to deal with */
img {
  max-width: 100%;
  display: block;
}

/* Setup the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Make form elements easier to work with*/
button,
input,
select,
textarea {
  font: inherit;
}

/* Remove animations for people who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
-------------------------
UTILITY CLASSES
-------------------------
*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2em;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
